<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Flatiron School - Students</title>
        <meta name="description" content="Flatiron School Student Profiles">
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="/public/style.css">
    </head>
    <body>

    <div id="page">
      <header id="header">
        <div class="center">
          <nav id="main-menu">
            <ul>
              <li class="site-title"><a href="/">Students @ Flatiron School</a></li>
            </ul>
            <ul>
              <li><a href="http://flatironschool.com">More about Our School</a></li>
            </ul>
          </nav>
          <div class="clear"></div>
        </div>
      </header>
    </div>

      <% for @student in @students %>
        <a href="/<%= @student.slug %>">
          <div class="photo-wrapper">
            <% unless @student.image == '[Null]' %>
              <img src="http://students.flatironschool.com/<%= @student.image %>" alt="<%=@student.name%>">
            <% end %>
          </div>
        </a>
      <% end %>


    </body>
</html>
